In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [39]:
dataset = pd.read_csv('iris.csv')

In [40]:
dataset[dataset['sepal_length']>5.0]

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
10            5.4          3.7           1.5          0.2     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[118 rows x 5 columns]

In [41]:
virginicaPetalWAvg = dataset[dataset['species']=='virginica']['petal_width'].mean()
virginicaPetalLAvg = dataset[dataset['species']=='virginica']['petal_length'].mean()
VirginicaPetalVolumeAvg = virginicaPetalWAvg * virginicaPetalLAvg
print(VirginicaPetalVolumeAvg)
VirginicaVOL = dataset[dataset['species']=='virginica']['petal_width'] * dataset[dataset['species']=='virginica']['petal_length']
VirginicaVOL = VirginicaVOL.mean()
print(VirginicaVOL)

11.248352000000002
11.296199999999999

In [45]:
inputs = dataset.drop('species', axis=1)
inputs

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]